﻿@using CrazyCardsCalculator.Dto
@model CustomerCards
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h2>Get Your Crazy Cards</h2>
    </div>


    @using (Html.BeginForm("Index", "Home", new { @class = "needs-validation" }, FormMethod.Post, Model))
    {
        <div class="row">
            <div class="col-md-12 order-md-1">
                <h4 class="mb-3">Customer Data</h4>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="title">Title</label>
                        @Html.EnumDropDownListFor(x => x.Customer.Title, "Select Title", new { @class = "form-control" })
                        <div class="invalid-feedback">
                            Please select a valid title.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="@Html.IdFor(x => x.Customer.FirstName)">First name</label>
                        @Html.TextBoxFor(x => x.Customer.FirstName, new { @required = "required", @class = "form-control" })
                        <div class="invalid-feedback">
                            Valid first name is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="@Html.IdFor(x => x.Customer.LastName)">Last name</label>
                        @Html.TextBoxFor(x => x.Customer.LastName, new { @required = "required", @class = "form-control" })
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="@Html.IdFor(x => x.Customer.DateOfBirth)">Date of Birth</label>
                        @Html.TextBoxFor(x => x.Customer.DateOfBirth, "{0:MM/dd/yyyy}", new { @required = "required", @class = "form-control", @type = "date" })
                        <div class="invalid-feedback">
                            Valid last name is required.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="@Html.IdFor(x => x.Customer.AnnualIncome)">Annual income</label>
                        @Html.TextBoxFor(x => x.Customer.AnnualIncome, new { @required = "required", @class = "form-control", @min = "0", type = "number" })
                        <div class="invalid-feedback">
                            Please enter a valid annual income.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="title">Employment Status</label>
                        @Html.EnumDropDownListFor(x => x.Customer.EmploymentStatus, "Select Status", new { @class = "form-control" })
                        <div class="invalid-feedback">
                            Please select a valid status.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="@Html.IdFor(x => x.Customer.HouseNumber)">House Number</label>
                        @Html.TextBoxFor(x => x.Customer.HouseNumber, new { @required = "required", @class = "form-control" })
                        <div class="invalid-feedback">
                            Please enter your house number.
                        </div>
                    </div>

                    <div class="col-md-6  mb-3">
                        <label for="@Html.IdFor(x => x.Customer.PostCode)">Post Code</label>
                        @Html.TextBoxFor(x => x.Customer.PostCode, new { @required = "required", @class = "form-control" })
                        <div class="invalid-feedback">
                            Please enter your postcode.
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Get Crazy Cards</button>
            </div>
        </div>


        if (Model != null && Model.Cards != null && Model.Cards.Any())
        {
            <br /><br />
            <div class="row">
                <div class="col-md-12 order-md-1">
                    <h4 class="mb-3">Cards Available</h4>
                    @foreach (var card in Model.Cards)
                    {
                        <div class="row">
                            <div class="col-md-12 mb-4 ">
                                <label for="@Html.IdFor(x => card.CardType)"><strong>@card.CardType</strong></label>
                            </div>
                            <div class="row">
                                <div class="col-md-2 mb-4">
                                    @Html.LabelFor(x => card.Apr, "APR")
                                    @Html.TextBoxFor(x => card.Apr, string.Format("{0}", card.Apr), new { @disabled = "disabled", @class = "form-control" })
                                </div>
                                <div class="col-md-4 mb-4 ">
                                    @Html.LabelFor(x => card.BalanceTransferOfferDuration, "Balance Transfer Offer Duration")
                                    @Html.TextBoxFor(x => card.BalanceTransferOfferDuration, string.Format("{0} months.", card.BalanceTransferOfferDuration), new { @disabled = "disabled", @class = "form-control" })
                                </div>

                                <div class="col-md-4 mb-4 ">
                                    @Html.LabelFor(x => card.PurchaseOfferDuration, "Purchase Offer Duration")
                                    @Html.TextBoxFor(x => card.PurchaseOfferDuration, string.Format("{0} months", card.PurchaseOfferDuration), new { @disabled = "disabled", @class = "form-control" })
                                </div>

                                <div class="col-md-2 mb-4 ">
                                    @Html.LabelFor(x => card.CreditAvailable, "Credit Available")
                                    @Html.TextBoxFor(x => card.CreditAvailable, string.Format("{0:C}", card.CreditAvailable), new { @disabled = "disabled", @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        <footer class="my-5 pt-5 text-muted text-center text-small">
            <p class="mb-1">&copy; 2017-2018 Clara Cabrita</p>
        </footer>
    }
</div>
